<div class="grid12_12">
  <div class="listings_outer">
    <div class="listings_inner">
      <div class="listings_menu">
        <a id="listing_menu_pic_a" href="#">&nbsp;</a>
        <%= link_to (image_tag "search-results.png", :class=>'listing_results'), chefs_path %><br/>
        <%= link_to (image_tag "search-results.png", :class=>'listing_results') , chefs_path %>
      </div>
    </div>
  </div>
</div>
