<div class="grid12_12 chef_data_outer">
  <div class="chef_data_inner" >
      <div class="chef_photo">
              <%= image_tag "chef-profile.jpg", :class=>'chef_profile_photo' %>
          </div>
          <div class="chef_details">
                <div class="chef_name">Name     : Chef Matt</div>
                <div>Location : Brooklyn, NY</div>
                <div>Interesting fact : He once rode a horse through a hoop of fire</div>
                <div>Specialities : <span class="tagH">Italian</span>, <span>Sauces</span>, <span>American</span> </div>
                <div>Pricing :</div>
        </div>
   </div>
 </div>
    <div class="clear">
    </div>
    <div class="chef_menu_header">
        <div class="menu_header">Menu</div>
        <div  class="review_header">User Reviews</div>
     </div>
     <div class="chef_menu">
        <div class="menu_item_feedback">
            <%= image_tag "chef-page-bottom.jpg", :class=>'chef_page_bottom' %>
        </div>
       <div class="menu_item_feedback">
            <%= image_tag "chef-page-bottom.jpg", :class=>'chef_page_bottom' %>
        </div>

    </div>




