<div class="grid12_4">
      <%= image_tag "chef-profile.jpg", :class=>'chef_profile_photo' %>
  </div>
  <div class="grid12_4 chef_details">
            <div class="chef_name">Name     : Chef Awesome</div>
            <div>Location : Hells Kitchen, NY</div>
            <div>Best dish : Chicken over rice</div>
            <div>Interesting fact : Loves skiing</div>
    </div>
    <div class="clear"></div>
    <div class="grid12_6 chef_menu">
        <div>Menu</div>
        <div class="menu1">
              abc
        </div>
        <div class="menu1">
                 def
              </div>
        </div>
        <div class="grid12_6 chef_reviews">
            <div>Reviews</div>
           <div class="menu1">
              abc
        </div>
    </div>




