<div class="grid12_12 chef_data_outer">
  <div class="chef_data_inner" >
      <div class="chef_photo">
              <%= image_tag "chef-profile.jpg", :class=>'chef_profile_photo' %>
          </div>
          <div class="chef_details">
                <div class="chef_name">Chef Matt</div>
                <div class="chef_det_ind_item"><span class="chef_det_ind">Location</span> : <span class="chef_det_ind_val">Brooklyn, NY</span></div>
                <div class="chef_det_ind_item"><span class="chef_det_ind">Interesting fact</span> : <span class="chef_det_ind_val">He once rode a horse through a hoop of fire</span></div>
                <div class="chef_det_ind_item"><span class="chef_det_ind">Specialities</span> : <span class="chef_det_ind_val"><span class="tagH">Italian</span>, <span class="tagH">Sauces</span>, <span class="tagH">American</span> </span></div>
                <div class="chef_det_ind_item"><span class="chef_det_ind">All services</span> : <span><img src="/images/icon_checkmark.png"></img></span><span class="chef_det_ind_features"> Home cooking</span></div>
                <div class="check_details_ind_feat_block">
                  <div><span class="chef_det_ind_feat_val"><img src="/images/icon_checkmark.png"></img></span><span class="chef_det_ind_features"> &nbsp;Shopping</span> </div>
                  <div><span class="chef_det_ind_feat_val"><img src="/images/icon_checkmark.png"></img></span><span class="chef_det_ind_features"> &nbsp;Teaching</span> </div>
                  <div><span class="chef_det_ind_feat_val"><img src="/images/icon_checkmark.png"></img></span><span class="chef_det_ind_features"> &nbsp;Professionally certified</span> </div>
                  <div><span class="chef_det_ind_feat_val"><img src="/images/icon_checkmark.png"></img></span><span class="chef_det_ind_features"> &nbsp;Cleanup</span> </div>
                </div>
        </div>
   </div>
 </div>
    <div class="clear">
    </div>
    <div class="chef_menu_header">
        <div class="menu_header">Menu</div>
        <div  class="review_header">User Reviews</div>
     </div>
     <div class="chef_menu">
        <div class="menu_item_feedback">
            <%= image_tag "chef-page-bottom.jpg", :class=>'chef_page_bottom' %>
        </div>
       <div class="menu_item_feedback">
            <%= image_tag "chef-page-bottom.jpg", :class=>'chef_page_bottom' %>
        </div>

    </div>




