body{
  background-color:#f6f5e8 ;
  background-image:url(/images/BetauserSignup/backgroundslices/beta-bg.jpg);
  z-index: -10;
  margin-top: 2px;
}

@font-face {
  font-family: m54 ;
  src: url( /lifestyleroundedm54.ttf ) format("truetype");
}

.auth_form {
  background-color:white;
  padding-left: 50px;
  width: 400px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.error_explanation, h2{
  font-size: 14px;
}
.error_explanation, li{
  font-size: 12px;
}

#error_explanation{
  text-align: center;
}

#Content {
	width:960px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	/*border:1px dashed #333;
	background-color:#eee;*/

	}