
.reg_email_box {
    float: left;
    height: 45px;
    padding-left: 10px;
    margin-left: 270px;
    margin-right: 25px;
    margin-top: 11px;
    width: 400px;
    /*below two are used to get rounded corners
    -moz-border-radius: 15px;
    border-radius: 15px;                        */
}

.reg_private_beta_txt {
    color: #3A3A3A;
    font-family: large;
    /*margin-left: 400px;*/
    padding-top: 10px;
    text-align: center;
}

.reg_f_d_e_text_block {
    padding-top: 75px;
}


/* this is silly that all of these images aren't cut the same size...*/
.reg_image_txt1{
  text-align: center;
}
.reg_image_txt2{
  padding-top: 10px;
  text-align: center;
}
.reg_image_txt3{
  padding-top: 10px;
  text-align: center;
}

.reg_top_graphic{
  margin-left: 137px;
  margin-top: -210px;
  position: absolute;
}

.blockquote {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    /*border-top: 1px solid #fff;*/
    /*background-color: #A6DADC;
    word-wrap: break-word;*/
}