.reg_site_logo {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.reg_site_block {
    margin-left: auto;
    margin-top: auto;
}

.reg_email_box {
    float: left;
    height: 26px;
    padding-left: 10px;
    margin-left: 270px;
    margin-right: 25px;
    margin-top: 18px;
    width: 400px;
    /*below two are used to get rounded corners */
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.reg_bg{
  background-color:#f6f5e8 ;
  background-image:url(/images/BetauserSignup/backgroundslices/beta-bg.jpg);
  z-index: -10;

}

.reg_private_beta_txt {
    font-size: 16px;
    text-align: center;
}

/* this is silly that all of these images aren't cut the same size...*/
.reg_image_txt1{
  text-align: center;
}
.reg_image_txt2{
  padding-top: 10px;
  text-align: center;
}
.reg_image_txt3{
  padding-top: 10px;
  text-align: center;
}

.reg_top_graphic{
  margin-left: 137px;
  margin-top: -210px;
  position: absolute;
}
