.header_login {
  color: white;
  height: 23px;
  text-align: right;
}

.header_whitespace{
  height: 71px;
}

.header_logo{
  float: left;
  margin-top: -15px;
  margin-left: 30px;
}

.header_login a {
  color: white;;
  text-decoration: none;
}

.header_register_btn{
  float: left;
  margin-left: 550px;
  margin-top: -27px;
  position: absolute;
  z-index: 1;
}

#div_flash{
  font-size: 12px;
  margin-right: 50px;
  padding-left: 500px;
  padding-top: 10px;
  text-align: right;
}
#alert{
 color: red; 
}
#notice{
  color: green;  
}

