.header_login {
  color: #666666;
  height: 23px;
  margin-top:4px;
  text-align: right;
}

.header_whitespace{
  height: 71px;
}

.header_logo{
  float: left;
  margin-top: -15px;
  margin-left: 30px;
}

.header_login a {
  color: #3A3A3A;
  text-decoration: none;
}

.header_nav{
    background-color: #fccf8d;
    border-color: #fc7100;
    border-width: 2px;
    border-style:solid;
    border-radius: 8px;
    height: 30px;
    margin-top: 15px;
}

.header_nav_item{
  font-family: Georgia;
  font-size: 17px;
  padding-top: 5px;
  text-align: center;
}

.header_nav_item a {
  color: #5A5A5A;
  text-decoration: none;
}
.header_nav_item a:hover {
  color: #000000;
}



#div_flash{
  font-size: 12px;
  margin-right: 50px;
  padding-left: 500px;
  padding-top: 10px;
  text-align: right;
}
#alert{
 color: red; 
}
#notice{
  color: green;  
}

