.home_neighborhood{
  background-color: white;
  border-color: #CCCCCC;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  height: 305px;
  margin-right:0px;
}

.home_map{
  background-color: white;
  border-color: #CCCCCC;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  height: 305px;
  margin-left: 0px;
}
