
div.register_block {
    background-color:#f6f5e8;
    width :760px;
    margin-left: 0%;
    padding: 0;

}

div.rblock_back {
     background-repeat:no-repeat;
     background-color:#f6f5e8 ;
     height : 800px;
     position: absolute;
     width: 100%;
     z-index: 2;

}

div.register_block_1 {
     background-image:url(/images/registerpage/backgroundslices/background-slice_01.jpg);
}

div.register_block_2 {
     background-image:url(/images/registerpage/backgroundslices/background-slice_02.jpg);
}
div.register_block_3 {
     background-image:url(/images/registerpage/backgroundslices/background-slice_03.jpg);
}
div.register_block_4 {
     background-image:url(/images/registerpage/backgroundslices/background-slice_04.jpg);
}
div.register_block_5 {
     background-image:url(/images/registerpage/backgroundslices/background-slice_05.jpg);
}

.reg_page_elements {
    z-index: 5;
    position: absolute;
}

DIV.reg_logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

DIV.reg_site_logo {
    margin-left: 35%;
    float: none;
}

DIV.reg_site_block {
    margin-left: 330px;
    margin-top: 150px;;
}

.reg_btn {
            border: none;
            display: inline;
            float: none;
}

.reg_email_box {
    display: block;
    float: left;
    height: 26px;
    margin-right: 25px;
    margin-top: 10px;
    width: 400px;
    /*below two are used to get rounded corners */
    -moz-border-radius: 15px;
    border-radius: 15px;

}

div.reg_private_beta_txt {
         display: block;
         margin-left: 460px;
         margin-top: 220px;

}

div.reg_txt {
    margin-top: 300px;
    margin-left: 45px;

}

span.reg_txt1 {
    padding-left: 50px;
    display: inline;
    padding-right: 65px;

}

div.reg_pic {
    margin-top: 430px;
    margin-left: 15px;
}

span.reg_pic1 {
    padding-left: 35px;
    display: inline;

}

div.reg_string {
    margin-top: 440px;
    margin-left: 220px;

}