<div class="register_block"></div>
  <div class="register_block_1 rblock_back"></div>
  <div class="register_block_2 rblock_back"></div>
  <div class="register_block_3 rblock_back"></div>
  <div class="register_block_4 rblock_back"></div>
  <div class="register_block_5 rblock_back"></div>
</div>