<div class="register_block"></div>
  <div class="register_block_1 rblock_back"></div>
  <!--<div class="register_block_2 rblock_back"></div>
  <div class="register_block_3 rblock_back"></div>
  <div class="register_block_4 rblock_back"></div>
  <div class="register_block_5 rblock_back"></div> -->
  <div class="reg_site_logo">
          <%= link_to ( image_tag "RegisterPage/logo.png" , :class=>'reg_logo reg_page_elements' ), listings_path %>

  </div>
</div>