<div class="grid12_3 prefix_9 header_login">Register | Login</div> 
<div class="clear"></div>
<div class="header_whitespace"><%= image_tag "logo.png" , :class=>'header_logo' %></div>
<div class="clear"></div>