<div class="grid12_3 headerimage">
IMAGE GOES HERE
</div>
<div class="grid12_2">Nav 1</div>
<div class="grid12_2">Nav 2</div>
<div class="grid12_2">Nav 3</div>
<div class="grid12_3">Search</div>

<hr/>
