<!DOCTYPE html>
<html>
<head>
  <title>Saucy Chefs</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container_12">
    <%= yield %>
</div>

</body>
</html>
